<h1>Contact Info</h1>
<h3>You can find my places</h3>

<h5>My name is: <%= contact.name %>.</h5>
<h5>My email is: <%= contact.email %>.</h5>
<h5>my phone number is: <%= contact.phone %>.</h5>
<h5>My fax is: <%= contact.fax %></h5>